# Puerto interno del microservicio
PORT=3004

# Conexión a la DB
DATABASE_URL="postgresql://postgres.oqtpegigitscnrjbbgwp:SeminarioIntegrador@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# JWT si maneja autenticación
JWT_SECRET=superSecretoViaje123

# Configuración de APIs internas o externas
TRAVEL_API_URL=https://api.travels.example.com

NODE_ENV=development