<div class="main-container">
    <div class="card">
      <div class="card-header">
        <img src="assets/logo1.png" alt="Grafo Logística" class="logo">
      </div>
  
      <div class="card-body">
        <h2>Bienvenido</h2>
        <form>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Contraseña" required>
        </form>
        <a href="/menu" class="btn-access">Iniciar sesión</a>
        <a href="/register" class="register-link">No tengo cuenta</a>
      </div>
    </div>
</div>