<div class="card">
    <!-- Encabezado con logo -->
    <div class="card-header">
        <img src="assets/logo1.png" alt="Grafo Logística" class="logo">
    </div>

    <!-- Cuerpo con formulario -->
    <div class="card-body">
        <h2>Bienvenido</h2>
        <form>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Contraseña" required>
        <a href="/paginainicio" class="btn-access">Iniciar sesión</a>
        </form>
        <a href="/registro" class="register-link">No tengo cuenta</a>
    </div>
</div>
