<div class="main-container">
  <div class="card">
    <div class="card-header">
      <img src="assets/logo1.png" alt="Grafo Logística" class="logo">
    </div>

    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="form-container">
        
        <div class="titulo-bienvenido">Bienvenido</div> 

        <input 
          type="email" 
          name="email" 
          [(ngModel)]="email" 
          placeholder="Email" 
          required 
          email
          #emailInput="ngModel"
        />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
          El email debe ser válido.
        </div>

        <input 
          type="password" 
          name="password" 
          [(ngModel)]="password" 
          placeholder="Contraseña" 
          required 
          #passwordInput="ngModel"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
          La contraseña es obligatoria.
        </div>

        <button 
          type="submit" 
          [disabled]="loginForm.invalid" 
          class="btn-access">
          Iniciar sesión
        </button>

        <div class="extra-link">
          <a [routerLink]="['/register']">No tengo cuenta aún</a>
        </div>
      </form>
    </div>
  </div>
</div>