<div class="pagos-container">
  <h2 class="page-title">Pagos Pendientes</h2>

  <div *ngIf="loading" class="loading-state">
    <p>Cargando viajes pendientes...</p>
  </div>

  <div *ngIf="!loading && viajesPendientes.length === 0" class="empty-state">
    <p>No tienes pagos pendientes en este momento.</p>
  </div>

  <div class="cards-list" *ngIf="!loading && viajesPendientes.length > 0">

    <div class="trip-card" *ngFor="let viaje of viajesPendientes">
      <div class="card-header">
        <div class="route-info">
          <h3 class="route-title">
            <span class="origin">{{ viaje.destinoInicio }}</span>
            <span class="arrow">➝</span>
            <span class="destination">{{ viaje.destinoFin }}</span>
            <span class="destination">Número de viaje: {{ viaje.ViajeId }}</span>
          </h3>
        </div>
        <div class="meta-info">
            <span class="badge date">{{ viaje.fechaInicio | date:'dd/MM/yyyy' }}</span>
            <span class="badge distance">{{ viaje.distancia }} km</span>
        </div>
      </div>

      <div class="card-body">
        <h4 class="details-title">Detalle de Unidades</h4>
        <ul class="units-list">
          <li class="unit-item" *ngFor="let unidad of viaje.unidades, let i = index">
            <span class="unit-name">Unidad {{i+1}}:</span>
            <span class="unit-subtotal">{{ unidad.subtotal | currency:'ARS':'symbol-narrow':'1.2-2' }}</span>
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <div class="summary-row">
            <span class="total-label">Monto Total Inicial:</span>
            <span class="total-amount">{{ viaje.total | currency:'ARS':'symbol':'1.2-2' }}</span>
        </div>    
        <div class="summary-row discount">
            <span class="label">-10% pago seña:</span>
            <span class="value">- {{ viaje.sena | currency:'ARS':'symbol':'1.2-2' }}</span>
        </div>

        <div class="summary-row final-total">
            <span class="label">Total:</span>
            <span class="value highlight">{{ viaje.resto | currency:'ARS':'symbol':'1.2-2' }}</span>
        </div>
        </div>
            <div class="actions-row">
            <button class="btn-pagar" (click)="procesarPago(viaje)">Pagar Viaje</button>
        </div>
    </div>
  </div>
</div>