/* Encabezado */
.header {
  background-color: #F5EFE3;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.logo img {
  height: 60px;
}

.logonuevoviaje {
    .logo {
  width: -50x; /* Cambiá este valor según el tamaño que quieras */
  height: auto; /* Mantiene la proporción */
}

}
 
.profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

/* Contenedor principal */
.container {
  background-color: #0b2f4e;
  color: white;
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 60px);
}

.container h2 {
  margin-bottom: 20px;
}

/* Botones del menú */
.menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
  color: #333;
  padding: 12px;
  margin: 10px auto;
  width: 80%;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: background 0.3s;
}

.menu-button:hover {
  background-color: #ddd;
}

.menu-button .icon {
  margin-right: 10px;
  font-size: 22px;
}
