<div class="header">
    <div class="logo">
        <!-- Podés reemplazar la imagen por tu logo real -->
        <img src="assets/logo.png" alt="Logo Grafo">
    </div>
    <div class="profile-icon">👤</div>
</div>
<div class="titulo">    <h2 class="titulo">Mis viajes</h2>
</div>


    <div *ngFor="let viaje of viajes" class="card">
        <div class="card-content">
        <div class="info">
            <h3>{{ viaje.origen }}</h3>
            <p>{{ viaje.fecha }}</p>
            <h3 class="destino">{{ viaje.destino }}</h3>
        </div>
        <button (click)="toggleDetalles(viaje)" class="btn-toggle">▼</button>
        </div>

        <!-- Detalles -->
        <div *ngIf="viaje.mostrarDetalles" class="detalles">
        <p *ngIf="viaje.estado === 'En viaje'">Número de viaje: {{ viaje.numero }}</p>
        <button *ngIf="viaje.estado === 'En viaje'" class="btn-descargar">Descargar</button>
        </div>
    </div>

