.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("/assets/camiones.jpg") no-repeat center center fixed;
  background-size: cover;
}

.card {
  width: 350px;
  margin: 20px auto;
  background-color: #0a1d36; 
  color: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 250px;
}

.user-icon i {
  font-size: 32px;
  color: #fff;
}

/* Video */
.video-container {
  margin-bottom: 20px;
}

video {
  width: 100%;
  border-radius: 8px;
}

/* Texto */
.card-body h2 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #fff; 
}

.card-body p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 12px;
}

/* Botón */
.btn-access {
  display: block;
  width: 90%;
  text-align: center;
  background-color: #ffffff;
  color: #0b1e3a;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 20px auto 0;
}

.btn-access:hover {
  background-color: #e0e0e0;
}

/* Icono perfil */
.perfil-icono {
  position: absolute;
  top: 25px;    
  right: 24px;  
  font-size: 1.5rem;
  background-color: #0b1e3a;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;    
  z-index: 10;
}
