<body>
    <div class="card">
        <!-- Encabezado con logo -->
        <div class="card-header">
            <img src="assets/logo1.png" alt="Grafo Logística" class="logo">
        </div>

        <!-- Cuerpo con formulario -->
        <div class="card-body">
            <h2>Registro</h2>
            <form (ngSubmit)="onRegister()" #registerForm="ngForm">
            <input
                type="text"
                placeholder="Nombre"
                name="nombre"
                [(ngModel)]="user.nombre"
                required
            >
            <input
                type="email"
                placeholder="Email"
                name="email"
                [(ngModel)]="user.email"
                required
            >
            <input
                type="password"
                placeholder="Contraseña"
                name="password"
                [(ngModel)]="user.password"
                required
            >
            <input
                type="password"
                placeholder="Confirmar contraseña"
                name="confirmPassword"
                [(ngModel)]="user.confirmPassword"
                required
            >

            <button type="submit" class="btn-access">Registrarse</button>
            </form>

            <a routerLink="/login" class="register-link">Ya tengo cuenta</a>
        </div>
    </div>
<body>