<div class="pago-container">
    <div class="pago-container">
    <div class="header">
        <img src="/assets/logo.png" alt="Logo Grafo" class="logo" />
        <h2>Pago de seña</h2>
    </div>

    <form (submit)="onSubmit($event)" class="pago-form">
        <div class="form-group">
        <label>Nombre del titular</label>
        <input
            #titularInput 
            type="text"
            required
            placeholder="Ingrese nombre y apellido"
        />
        </div>

        <div class="form-group">
        <label>Número de tarjeta</label>
        <input
            #tarjetaInput
            type="text"
            required
            maxlength="19"
            placeholder="Ingrese el número de tarjeta"
        />
        </div>

        <div class="form-group">
        <label>Fecha de vencimiento</label>
        <input
            #vencimientoInput
            type="month"
            required
        />
        </div>

        <div class="form-group">
        <label>Número CVC/CVV</label>
        <input
            #cvvInput
            type="text"
            required
            maxlength="4"
            placeholder="Número de CVC/CVV"
        />
        </div>

        <button type="submit" class="btn-pagar">Pagar seña</button>
    </form>
    </div>

</div>
