/* src/styles.css */
/* Solo para login y registro */
body.login,
body.registro {
  background: url("/assets/camiones.jpg") no-repeat center center / cover;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0B1E3A; /* tu azul */
}


