/* --- Estructura General --- */
.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- Header (Beige) --- */
.top-bar {
  background-color: #f4f0e6;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 80px; /* Altura fija para el cálculo del centro */
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #052c4f;
}

.logo-icon {
  font-size: 2rem;
}

.brand-text h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
}

.brand-text span {
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.profile-area {
  font-size: 2.5rem;
  color: #052c4f;
  cursor: pointer;
}

/* --- Cuerpo (Azul Oscuro) --- */
.dashboard-content {
  background-color: #052c4f;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* CENTRADO VERTICAL DE TODO EL BLOQUE */
}

.page-title {
  color: white;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

/* --- Lista de Menú --- */
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  width: 100%;
  max-width: 400px;
}

/* --- Estilo de cada Botón --- */
.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.02); /* Animación suave hacia adelante */
}

/* Círculo del Ícono */
.icon-badge {
  background-color: #9ca3af;
  color: #052c4f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  z-index: 2;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

/* Tarjeta de Texto */
.label-card {
  background-color: #f4f0e6;
  color: #052c4f;
  flex-grow: 1;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-right: 15px;
  border-radius: 0 8px 8px 0;
  margin-left: -35px;
  z-index: 1;
  font-weight: 700;
  font-size: 1.1rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

/* Ajustes especiales para la tarjeta de reporte */
.report-card {
  padding-right: 8px;
  justify-content: space-between;
}

.report-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  width: 55%;
  font-size: 0.9rem;
  background-color: white;
}

.report-btn {
  padding: 6px 12px;
  background: linear-gradient(135deg, #052c4f, #1c65d1);
  color: #f4f0e6;
  font-weight: 700;
  font-size: 0.85rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: all 0.2s;
  white-space: nowrap;
}

.report-btn:hover {
  background: linear-gradient(135deg, #1c65d1, #052c4f);
  transform: translateY(-1px);
}