<div class="admin-container">
  <header class="top-bar">
    <div class="logo-area">
      <i class="fa-solid fa-share-nodes logo-icon"></i>
      <div class="brand-text">
        <h1>GRAFO</h1>
        <span>LOGÍSTICA</span>
      </div>
    </div>
    <div class="profile-area">
      <i class="fa-solid fa-circle-user"></i>
    </div>
  </header>

  <main class="dashboard-content">
    <h2 class="page-title">Administrador/a</h2>

    <div class="menu-list">
      
      <a routerLink="/admin/consultar-viajes" class="menu-item">
        <div class="icon-badge">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="label-card">
          <span>Confirmar viajes</span>
        </div>
      </a>

      <a routerLink="agregar-empleados" class="menu-item">
        <div class="icon-badge">
          <i class="fa-solid fa-user-plus"></i>
        </div>
        <div class="label-card">
          <span>Agregar Empleados</span>
        </div>
      </a>

      <a routerLink="/admin/unidades" class="menu-item">
        <div class="icon-badge">
          <i class="fa-solid fa-truck-moving"></i>
        </div>
        <div class="label-card">
          <span>Agregar camiones / remolques</span>
        </div>
      </a>

      <a routerLink="gestion-clientes" class="menu-item">
        <div class="icon-badge">
          <i class="fa-solid fa-users-gear"></i>
        </div>
        <div class="label-card">
          <span>Gestion de Clientes</span>
        </div>
      </a>

      <a routerLink="gestion-pagos" class="menu-item">
        <div class="icon-badge">
          <i class="fa-solid fa-sack-dollar"></i>
        </div>
        <div class="label-card">
          <span>Gestion de Pagos</span>
        </div>
      </a>

<div class="menu-item">
  <div class="icon-badge">
    <i class="fa-solid fa-envelope"></i>
  </div>
  <div class="label-card">
    <input type="email" [(ngModel)]="email" placeholder="Ingresa email" />
    <button (click)="descargar()">Enviar reporte</button>
  </div>
</div>

      
    </div>
  </main>
</div>